.feature
	width 100%
	height 24.4rem
	background-color #e9d8ad

.feature__title
	text-transform uppercase
	letter-spacing .1ex

	&
	h3&
		margin-bottom 3rem

.feature__panel
	&
	.uk-overlay-panel&
		padding 0

.feature__panel-container
	&
	.container-fluid&
		padding 60px 15% 60px 60px

.feature__text
	font-family 'latobold', 'Trebuchet MS', Arial, sans-serif

	& > p:last-child
		margin-bottom 0 !important

.feature--about
	height 31.25rem

	.feature__title
		line-height 1.67


.feature__panel-container
	&
	.container-fluid&
		padding 95px 15% 95px 100px
