.table
	line-height 1.25

	th
	td
		padding 3px 5px
		text-align left
		vertical-align top

		&.num
			white-space nowrap
			width 1px
			padding-right 0
			padding-left 0

.table--sm
	font-size .875rem
	line-height 1.25
