.b-text
	line-height 1.5625

	h1
	h2
	h3
	h4
	h5
	h6
		margin-top 0
		margin-bottom .5rem

	p
	ul
	ol
	dl
		margin-top 0
		margin-bottom 1rem

	ul
	ol
	dl
	ul ul
	ul ol
	ol ul
	ol ol
	dl dl
		margin-top .5rem

	li
	dd
		margin-top 0
		margin-bottom 0

	dt
		margin-top 0
		margin-bottom .25rem

	li + li,
	dd + dd,
	dd + dt
		margin-top .5rem

	img
		margin-bottom 1rem

	img[align=right]
		margin .25rem 0 .25rem 15px

	img[align=left]
		margin .25rem 15px .25rem 0

	hr
		margin-top 1rem
		margin-bottom 1rem

	.page-title
		margin-bottom 1rem


.b-text--air
	line-height 1.75

.b-text--smaller
	font-size 14px
