@font-face {
	font-family: 'lifehack_sansregular';
	src: url('../fonts/deartype_-_lifehack_sans-webfont.woff2') format('woff2'),
		 url('../fonts/deartype_-_lifehack_sans-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'lifehack_sansmedium';
	src: url('../fonts/deartype_-_lifehack_sans_medium-webfont.woff2') format('woff2'),
		 url('../fonts/deartype_-_lifehack_sans_medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'lifehack_sansbold';
	src: url('../fonts/deartype_-_lifehack_sans_bold-webfont.woff2') format('woff2'),
		 url('../fonts/deartype_-_lifehack_sans_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'latoregular';
	src: url('../fonts/latoregular-webfont.woff2') format('woff2'),
		 url('../fonts/latoregular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'latobold';
	src: url('../fonts/latobold-webfont.woff2') format('woff2'),
		 url('../fonts/latobold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'latobold_italic';
	src: url('../fonts/latobolditalic-webfont.woff2') format('woff2'),
		 url('../fonts/latobolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'latoitalic';
	src: url('../fonts/latoitalic-webfont.woff2') format('woff2'),
		 url('../fonts/latoitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
