// Body

$body-bg = #f9f1df
$body-color = #644f32

// Links

$link-color = #396d36
$link-hover-color = #78b04c


// Typography

$font-family-sans-serif = 'latoregular', 'Trebuchet MS', Arial, sans-serif
$font-family-base = $font-family-sans-serif

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root = 16px

$font-size-base = 1rem
$line-height-base = 1.5625

$font-size-h1 = 2.5rem
$font-size-h2 = 2.125rem
$font-size-h3 = 1.875rem
$font-size-h4 = 1.5rem
$font-size-h5 = 1.25rem
$font-size-h6 = 1rem

$headings-margin-bottom = .5rem
$headings-font-family = 'latobold', 'Trebuchet MS', Arial, sans-serif
$headings-font-weight = 700
$headings-line-height = 1.2
$headings-color = inherit

$headings-font-family-alt = 'lifehack_sansbold', 'Trebuchet MS', Arial, sans-serif
$headings-font-weight-alt = 700
$headings-color-alt = #467540

$small-font-size = 80%

$text-muted = #cccccc
$text-base = #644f32
$text-primary = #396d36

$decor-scale = 1.25
