extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Благо';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClass = ''

block header
	include /blocks/page/page__header--index

block content
	.top-image.uk-cover.uk-cover-background(style="background-image:url('assets/images/top-image.jpg')")
		img.uk-cover-object.uk-invisible(src='assets/images/top-image.jpg', alt='Благо', width='2560', height='1408')
		.uk-position-cover
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:-30.5%;margin-top:-9.5%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:-5%;margin-top:0.6%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:7%;margin-top:5.8%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:33.8%;margin-top:-5.5%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			#modal-1.uk-modal
				.uk-modal-dialog.uk-modal-dialog-lightbox
					a.uk-modal-close.uk-close.uk-close-alt(href='')
					.row.uk-flex.uk-flex-middle.m-r-0
						.col-6
							img.img-fluid(src='assets/images/modal-image-01.jpg', alt='', width='250', height='310')
						.col-6
							.uk-modal__line
								h4.h4.h4--alt.text-center Растительное масло
							.uk-modal__line.b-text.b-text--smaller
								p Благодаря современному оборудованию и передовым технологиям масла &laquo;Благо&raquo; сохраняют в себе витамины и полезные вещества.
							.uk-modal__line.text-center
								button.button
									span.button__text Подробнее

	.decor.decor--promo.decor--promo--main(data-uk-sticky={boundary: '#promo-main-slide-1 .promo__box'})
		.container-fluid
			i.decor__tl(data-fixed)
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			i.decor__tr(data-fixed)
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			.promo__header.promo__header--main-index
				h2.h1.h1--alt.promo__title На благо семьи
				p.promo__subtitle Качество, верность традициям и вкус в каждом продукте «Благо»
	.swiper-container.swiper-container--index2.promo-main-container2#promo-main
		.promo.promo--main.promo--main--index.swiper-slide.swiper-slide-active#promo-main-slide-0
			.container-fluid.pos-static
				.uk-overlay.promo__box
					.uk-overlay-panel
						.row.promo__row
							.col-6.promo__col-left
								.promo__logo-wrapper
									img.promo__logo(src='assets/images/bloag-logo-alt.png', alt='Благо', width='152', height='75')

								.b-text.promo__text
									p
										| Подсолнечное масло одинаково хорошо подойдет и для жарки, и для заправки салатов, и для приготовления выпечки. Для его производства используются только отборные семечки, собранные на щедрых полях Черноземья. Именно благодаря отборному натуральному сырью и высоким стандартам качества масло «Благо» заслужило признание хозяек России.

							.col-6.promo__col-right
								.promo__label-wrapper
									i.label.label--bake
									i.label.label--salad
									i.label.label--fry

								.b-text.promo__text.promo__text--primary
									h5 Подсолнечное рафинированное масло идеально подходит для:
									ul.disc
										li для заправки салатов
										li первых и вторых блюд
										li выпечки и консервирования
					img.promo__box-image(src="assets/images/blago_oil_main.png", alt="", width="482", height="686", data-fixed)
					i.decor__desc.lazy-decor(data-original='assets/images/decor-desk.png', data-fixed)

		.promo.promo--main.promo--main--index.swiper-slide#promo-main-slide-1
			.container-fluid.pos-static
				.uk-overlay.promo__box
					.uk-overlay-panel
						.row.promo__row
							.col-6.promo__col-left
								.promo__logo-wrapper
									img.promo__logo(src='assets/images/bloag-logo-alt.png', alt='Благо', width='152', height='75')

								.b-text.promo__text
									p
										| Подсолнечное масло одинаково

							.col-6.promo__col-right
								.promo__label-wrapper
									i.label.label--bake

								.b-text.promo__text.promo__text--primary
									h5 Подсолнечное рафинированное масло идеально подходит для:
									ul.disc
										li для заправки салатов
					img.promo__box-image(src="assets/images/blago_oil_main2.png", alt="", width="482", height="686", data-fixed)
					i.decor__desc.lazy-decor(data-original='assets/images/decor-desk.png', data-fixed)

	.container-fluid
		.promo.promo--recept.decor.decor--promo.decor--promo--recept
			i.decor__tl
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			i.decor__tr
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			.promo__note.decor__note
				i.decor__note-t.lazy-decor(data-original='assets/images/decor-note.png')
				i.decor__note-lr.lazy-decor(data-original='assets/images/decor-note-lr.png')
				i.decor__note-b.lazy-decor(data-original='assets/images/decor-note.png')

				include /blocks/swiper/swiper-recept

	| <a class="icon-btn icon-btn--up" title="Наверх" role="button" data-uk-smooth-scroll href="#header"><span class="sr-only">Наверх</span></a>

block footer
	include /blocks/page/page__footer--extra-w-banner
