extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Благо';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClass = ''

block header
	include /blocks/page/page__header--index

block content
	.top-image.uk-cover.uk-cover-background(style="background-image:url('assets/images/top-image.jpg')")
		img.uk-cover-object.uk-invisible(src='assets/images/top-image.jpg', alt='Благо', width='2560', height='1408')
		.uk-position-cover
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:-30.5%;margin-top:-9.5%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:-5%;margin-top:0.6%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:7%;margin-top:5.8%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			.icon-btn.icon-btn--alt.icon-btn--pin.top-image__pin(style='position:absolute;margin-left:33.8%;margin-top:-5.5%;', role='button', data-uk-modal="{target:'#modal-1', center:true}")
			#modal-1.uk-modal
				.uk-modal-dialog.uk-modal-dialog-lightbox
					a.uk-modal-close.uk-close.uk-close-alt(href='')
					.row.uk-flex.uk-flex-middle.m-r-0
						.col-6
							img.img-fluid(src='assets/images/modal-image-01.jpg', alt='', width='250', height='310')
						.col-6
							.uk-modal__line
								h4.h4.h4--alt.text-center Растительное масло
							.uk-modal__line.b-text.b-text--smaller
								p Благодаря современному оборудованию и передовым технологиям масла &laquo;Благо&raquo; сохраняют в себе витамины и полезные вещества.
							.uk-modal__line.text-center
								button.button
									span.button__text Подробнее

	.decor.decor--promo.decor--promo--main(data-uk-sticky={boundary: '#promo-main-slide-1 .promo__box'})
		.container-fluid
			i.decor__tl(data-fixed)
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			i.decor__tr(data-fixed)
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			.promo__header.promo__header--main-index
				h2.h1.h1--alt.promo__title На благо семьи
				p.promo__subtitle Качество, верность традициям и вкус в каждом продукте «Благо»
	.swiper-container.swiper-container--index2.promo-main-container2#promo-main
		.promo.promo--main.promo--main--index.swiper-slide.swiper-slide-active#promo-main-slide-0
			.container-fluid.pos-static
				.uk-overlay.promo__box
					.uk-overlay-panel
						.row.promo__row
							.col-6.promo__col-left
								.promo__logo-wrapper
									img.promo__logo(src='assets/images/bloag-logo-alt.png', alt='Благо', width='152', height='75')

								.b-text.promo__text
									p
										| Подсолнечное масло одинаково хорошо подойдет и для жарки, и для заправки салатов, и для приготовления выпечки. Для его производства используются только отборные семечки, собранные на щедрых полях Черноземья. Именно благодаря отборному натуральному сырью и высоким стандартам качества масло «Благо» заслужило признание хозяек России.

							.col-6.promo__col-right
								.promo__label-wrapper
									i.label.label--bake
									i.label.label--salad
									i.label.label--fry

								.b-text.promo__text.promo__text--primary
									h5 Подсолнечное рафинированное масло идеально подходит для:
									ul.disc
										li для заправки салатов
										li первых и вторых блюд
										li выпечки и консервирования
					img.promo__box-image(src="assets/images/blago_oil_main.png", alt="", width="482", height="686", data-fixed)
					i.decor__desc.lazy-decor(data-original='assets/images/decor-desk.png', data-fixed)

		.promo.promo--main.promo--main--index.swiper-slide#promo-main-slide-1
			.container-fluid.pos-static
				.uk-overlay.promo__box
					.uk-overlay-panel
						.row.promo__row
							.col-6.promo__col-left
								.promo__logo-wrapper
									img.promo__logo(src='assets/images/bloag-logo-alt.png', alt='Благо', width='152', height='75')

								.b-text.promo__text
									p
										| Подсолнечное масло одинаково

							.col-6.promo__col-right
								.promo__label-wrapper
									i.label.label--bake

								.b-text.promo__text.promo__text--primary
									h5 Подсолнечное рафинированное масло идеально подходит для:
									ul.disc
										li для заправки салатов
					img.promo__box-image(src="assets/images/blago_oil_main2.png", alt="", width="482", height="686", data-fixed)
					i.decor__desc.lazy-decor(data-original='assets/images/decor-desk.png', data-fixed)

	.container-fluid
		.promo.promo--recept.decor.decor--promo.decor--promo--recept
			i.decor__tl
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			i.decor__tr
				i.decor__i.lazy-decor(data-original='assets/images/sprites/decor.png')
			.promo__note.decor__note
				i.decor__note-t.lazy-decor(data-original='assets/images/decor-note.png')
				i.decor__note-lr.lazy-decor(data-original='assets/images/decor-note-lr.png')
				i.decor__note-b.lazy-decor(data-original='assets/images/decor-note.png')

				.swiper-container.swiper-container--thumbs
					.swiper-wrapper
						.swiper-slide(style="background-image:url('assets/images/recept-thumb-01.png')")
						.swiper-slide(style="background-image:url('assets/images/recept-thumb-02.png')")

				.swiper-container.swiper-container--recept
					.swiper-wrapper
						article.swiper-slide
							.collapse.promo__collapse.collapseRecent_01
								header.promo__header
									h2.h1.h1--alt.promo__title Салат с рукколой, черри, сухариками и кунжутом

								img.promo__image(src="assets/images/promo-recept.png", alt="", width="373", height="258")

								.promo__header2
									span.promo__header2-primary
										| Способ приготовления

									span.promo__header2-secondary
										|<span class="time"><i class="icon icon--clock"></i>:15 минут</span>

								.row.promo__row
									.col-6.promo__col-left
										.b-text.promo__text
											h6 Инструкция:
											ol.decimal
												li Нарезать индейку на недольшие кусочки и полочить ее в оливковом масле с соевым соусом.
												li Убавить огонь, добавить яблоко, посолить, поперчить, накрыть крышкой и оставить тушиться еще минут на 7–10.5. В качестве гарнира очень хорошо подойдет гречневая лапша или рис.

									.col-6.promo__col-right
										.b-text.promo__text
											.promo__box-outline
												h6 Ингридиенты на 2 порции:
												table.table.table--sm.promo__table
													tr
														td.num 1.
														td Индейка
														td.promo__text--primary 300 г.

													tr
														td.num 2.
														td Лук
														td.promo__text--primary 1 головка

													tr
														td.num 3.
														td Яблоко
														td.promo__text--primary 1 шт.

													tr
														td.num 4.
														td Соевый соус
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 5.
														td
															a(href="") Подсолнечное масло &laquo;Благо&raquo;
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 6.
														td Оливковое масло
														td.promo__text--primary 2 ст. ложки

													tr
														td.num 7.
														td Соль
														td.promo__text--primary По вкусу

													tr
														td.num 8.
														td Черный молотый перец
														td.promo__text--primary По вкусу


							footer.promo__footer.text-center
								.promo__footer-line
									button.button.button--width-2.promo__toggle(type="button", data-target=".collapseRecent_01")
										span.button__text Подробнее
										span.button__text Скрыть

								.promo__footer-line
									a.icon-btn.icon-btn--facebook(href="")
										+icon('facebook')
									a.icon-btn.icon-btn--vkontakte(href="")
										+icon('vkontakte')
									a.icon-btn.icon-btn--odnoklassniki(href="")
										+icon('odnoklassniki')

						article.swiper-slide

							.collapse.promo__collapse.collapseRecent_02

								header.promo__header
									h2.h1.h1--alt.promo__title Салат с рукколой

								img.promo__image(src="assets/images/promo-recept.png", alt="", width="373", height="258")

								.promo__header2
									span.promo__header2-primary
										| Способ приготовления

									span.promo__header2-secondary
										|<span class="time"><i class="icon icon--clock"></i>:15 минут</span>

								.row.promo__row
									.col-6.promo__col-left
										.b-text.promo__text
											h6 Инструкция:
											ol.decimal
												li Нарезать индейку на недольшие кусочки и полочить ее в оливковом масле с соевым соусом.
												li Убавить огонь, добавить яблоко, посолить, поперчить, накрыть крышкой и оставить тушиться еще минут на 7–10.5. В качестве гарнира очень хорошо подойдет гречневая лапша или рис.

									.col-6.promo__col-right
										.b-text.promo__text
											.promo__box-outline
												h6 Ингридиенты на 2 порции:
												table.table.table--sm.promo__table
													tr
														td.num 1.
														td Индейка
														td.promo__text--primary 300 г.

													tr
														td.num 2.
														td Лук
														td.promo__text--primary 1 головка

													tr
														td.num 3.
														td Яблоко
														td.promo__text--primary 1 шт.

													tr
														td.num 4.
														td Соевый соус
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 5.
														td
															a(href="") Подсолнечное масло &laquo;Благо&raquo;
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 6.
														td Оливковое масло
														td.promo__text--primary 2 ст. ложки

													tr
														td.num 7.
														td Соль
														td.promo__text--primary По вкусу

													tr
														td.num 8.
														td Черный молотый перец
														td.promo__text--primary По вкусу

							footer.promo__footer.text-center
								.promo__footer-line
									button.button.button--width-2.promo__toggle(type="button", data-target=".collapseRecent_02")
										span.button__text Подробнее
										span.button__text Скрыть

								.promo__footer-line
									a.icon-btn.icon-btn--facebook(href="")
										+icon('facebook')
									a.icon-btn.icon-btn--vkontakte(href="")
										+icon('vkontakte')
									a.icon-btn.icon-btn--odnoklassniki(href="")
										+icon('odnoklassniki')

	| <a class="icon-btn icon-btn--up" title="Наверх" role="button" data-uk-smooth-scroll href="#header"><span class="sr-only">Наверх</span></a>

block footer
	include /blocks/page/page__footer--extra-w-banner
