extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Растительное масло | Благо';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClass = ''

block header
	include /blocks/page/page__header--product-card

block content
	.container-fluid
		.uk-switcher#pcard_switcher
			article.product-card.uk-active
				.product-card__content
					h2.h1.h1--alt.product-card__title Масло подсолнечно-оливковое
					.b-text.b-text--air.product-card__text
						p «Благо» — это натуральное растительное масловысокого качества с многолетней историей,сочетающей в себе опыт отечественного масложирового производства и возможности современных технологий. Благодаря современному оборудованию и передовым технологиям производства и рафинации масла, «Благо» сохраняет в себе витамины и полезные вещества, необходимые организму человека для здоровой жизни. Подсолнечное масло «Благо» одинаково хорошо подойдет и для жарки, и для заправки салатов, и для приготовления выпечки.

					.uk-button-dropdown(data-uk-dropdown="{pos:'right-center', mode: 'hover, click'}")
						span.pseudolink.product-card__more-link Состав
						.uk-dropdown.uk-dropdown--tooltip
							| Состав: 100% масло подсолнечное рафинированное дезодорированное вымороженное. Высший сорт. <br>ГОСТ 1129-2013

				aside.product-card__side
					.swiper-container.swiper-container--pcard
						.swiper-wrapper
							.swiper-slide
								img.img-fluid(src="assets/images/pcard-01.png", alt="", width="451", height="686")

							.swiper-slide
								img.img-fluid.swiper-lazy(src="assets/images/blank.gif", data-src="assets/images/pcard-02.png", alt="", width="451", height="686")
								.swiper-lazy-preloader.swiper-lazy-preloader-white

							.swiper-slide
								img.img-fluid.swiper-lazy(src="assets/images/blank.gif", data-src="assets/images/pcard-03.png", alt="", width="451", height="686")
								.swiper-lazy-preloader.swiper-lazy-preloader-white

							.swiper-slide
								img.img-fluid.swiper-lazy(src="assets/images/blank.gif", data-src="assets/images/pcard-04.png", alt="", width="451", height="686")
								.swiper-lazy-preloader.swiper-lazy-preloader-white

					.swiper-container-wrapper-thumbs-icon
						.swiper-container.swiper-container--thumbs-icon
							.swiper-wrapper
								.swiper-slide.swiper-slide--icon-bottle-05l 0,5 л.
								.swiper-slide.swiper-slide--icon-bottle-09l 0,9 л.
								.swiper-slide.swiper-slide--icon-bottle-1l 1 л.
								.swiper-slide.swiper-slide--icon-bottle-2l 2 л.
								.swiper-slide.swiper-slide--icon-bottle-48l 4,8 л.
								.swiper-slide.swiper-slide--icon-bottle-5l 5 л.

			article.product-card 2
			article.product-card 3
			article.product-card 4

		.product-card-teaser-thumb-container
			.teaser-row.teaser-row--thumbs(data-uk-switcher="{connect:'#pcard_switcher', animation: 'uk-animation-fade'}")
				.teaser.teaser--thumb.col.uk-active
					.teaser__img-wrapper
						img.teaser__img(src="assets/images/teaser-pcard-01.png", alt="", width="212", height="154")
					.teaser__title Масло подсолнечно-оливковое
				.teaser.teaser--thumb.col
					.teaser__img-wrapper
						img.teaser__img(src="assets/images/teaser-pcard-02.png", alt="", width="212", height="155")
					.teaser__title Кукурузное масло
				.teaser.teaser--thumb.col
					.teaser__img-wrapper
						img.teaser__img(src="assets/images/teaser-pcard-03.png", alt="", width="176", height="146")
					.teaser__title Подсолнечное масло

		.promo.promo--recept.promo--recept--alt.decor.decor--promo.decor--promo--recept(data-uk-observe)
			.promo__note.decor__note
				i.decor__note-t.lazy-decor(data-original='assets/images/decor-note.png')
				i.decor__note-lr.lazy-decor(data-original='assets/images/decor-note-lr.png')
				i.decor__note-b.lazy-decor(data-original='assets/images/decor-note.png')

				.swiper-container.swiper-container--thumbs
					.swiper-wrapper
						.swiper-slide(style="background-image:url('assets/images/recept-thumb-01.png')")
						.swiper-slide(style="background-image:url('assets/images/recept-thumb-02.png')")

				.swiper-container.swiper-container--recept
					.swiper-wrapper
						article.swiper-slide
							.collapse.promo__collapse.collapseRecent_01
								header.promo__header
									h2.h1.h1--alt.promo__title Салат с рукколой, черри, сухариками и кунжутом
									.promo__header-line

								img.promo__image(src="assets/images/promo-recept.png", alt="", width="373", height="258")

								.promo__header2
									span.promo__header2-primary
										| Способ приготовления

									span.promo__header2-secondary
										|<span class="time"><i class="icon icon--clock"></i>:15 минут</span>

								.row.promo__row
									.col-6.promo__col-left
										.b-text.promo__text
											h6 Инструкция:
											ol.decimal
												li Нарезать индейку на небольшие кусочки и положить ее мариноваться в оливковом масле с соевым соусом.

												li Нарезать яблоко кубиками, а лук — тонкими кольцами. Обжарить лук в подсолнечном масле «Благо», помешивая, до золотистого цвета.

												li Добавить к луку индейку вместе с маринадом и жарить на сильном огне несколько минут, постоянно помешивая.

												li Убавить огонь, добавить яблоко, посолить, поперчить, накрыть крышкой и оставить тушиться еще минут на 7–10.5. В качестве гарнира очень хорошо подойдет гречневая лапша или рис.

									.col-6.promo__col-right
										.b-text.promo__text
											.promo__box-outline
												h6 Ингридиенты на 2 порции:
												table.table.table--sm.promo__table
													tr
														td.num 1.
														td Индейка
														td.promo__text--primary 300 г.

													tr
														td.num 2.
														td Лук
														td.promo__text--primary 1 головка

													tr
														td.num 3.
														td Яблоко
														td.promo__text--primary 1 шт.

													tr
														td.num 4.
														td Соевый соус
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 5.
														td
															a(href="") Подсолнечное масло &laquo;Благо&raquo;
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 6.
														td Оливковое масло
														td.promo__text--primary 2 ст. ложки

													tr
														td.num 7.
														td Соль
														td.promo__text--primary По вкусу

													tr
														td.num 8.
														td Черный молотый перец
														td.promo__text--primary По вкусу

							footer.promo__footer.text-center
								.promo__footer-line
									button.button.button--width-2.promo__toggle(type="button", data-target=".collapseRecent_01")
										span.button__text Подробнее
										span.button__text Скрыть

								.promo__footer-line
									a.icon-btn.icon-btn--facebook(href="")
										+icon('facebook')
									a.icon-btn.icon-btn--vkontakte(href="")
										+icon('vkontakte')
									a.icon-btn.icon-btn--odnoklassniki(href="")
										+icon('odnoklassniki')

						article.swiper-slide

							.collapse.promo__collapse.collapseRecent_02

								header.promo__header
									h2.h2.h2--alt.promo__title Салат с рукколой

								img.promo__image(src="assets/images/promo-recept.png", alt="", width="373", height="258")

								.promo__header2
									span.promo__header2-primary
										| Способ приготовления

									span.promo__header2-secondary
										|<span class="time"><i class="icon icon--clock"></i>:15 минут</span>

								.row.promo__row
									.col-6.promo__col-left
										.b-text.promo__text
											h6 Инструкция:
											ol.decimal
												li Нарезать индейку на небольшие кусочки и положить ее мариноваться в оливковом масле с соевым соусом.

												li Нарезать яблоко кубиками, а лук — тонкими кольцами. Обжарить лук в подсолнечном масле «Благо», помешивая, до золотистого цвета.

												li Добавить к луку индейку вместе с маринадом и жарить на сильном огне несколько минут, постоянно помешивая.

												li Убавить огонь, добавить яблоко, посолить, поперчить, накрыть крышкой и оставить тушиться еще минут на 7–10.5. В качестве гарнира очень хорошо подойдет гречневая лапша или рис.

									.col-6.promo__col-right
										.b-text.promo__text
											.promo__box-outline
												h6 Ингридиенты на 2 порции:
												table.table.table--sm.promo__table
													tr
														td.num 1.
														td Индейка
														td.promo__text--primary 300 г.

													tr
														td.num 2.
														td Лук
														td.promo__text--primary 1 головка

													tr
														td.num 3.
														td Яблоко
														td.promo__text--primary 1 шт.

													tr
														td.num 4.
														td Соевый соус
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 5.
														td
															a(href="") Подсолнечное масло &laquo;Благо&raquo;
														td.promo__text--primary 1 ст. ложка

													tr
														td.num 6.
														td Оливковое масло
														td.promo__text--primary 2 ст. ложки

													tr
														td.num 7.
														td Соль
														td.promo__text--primary По вкусу

													tr
														td.num 8.
														td Черный молотый перец
														td.promo__text--primary По вкусу

							footer.promo__footer.text-center
								.promo__footer-line
									button.button.button--width-2.promo__toggle(type="button", data-target=".collapseRecent_02")
										span.button__text Подробнее
										span.button__text Скрыть

								.promo__footer-line
									a.icon-btn.icon-btn--facebook(href="")
										+icon('facebook')
									a.icon-btn.icon-btn--vkontakte(href="")
										+icon('vkontakte')
									a.icon-btn.icon-btn--odnoklassniki(href="")
										+icon('odnoklassniki')

		section.teaser-container.teaser-container--alt
			h2.h2.h2--alt.teaser-container__title(data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}") Другие бренды
			.row.teaser-row(data-uk-scrollspy="{cls:'uk-animation-slide-bottom uk-invisible', target:'.teaser'}")
				.col-4
					.teaser.teaser--alt.js-double-hover-wrap.uk-invisible.teaser--hoverable
						.teaser__img-wrapper
							img.teaser__img(src="assets/images/teaser-alt-01.jpg", alt="", width="239", height="297")
						h3.teaser__title
							a(href="product-card.html") Масло &laquo;Благо&raquo;
						a.js-double-hover.uk-position-cover(href="product-card.html")
				.col-4
					.teaser.teaser--alt.js-double-hover-wrap.uk-invisible.teaser--hoverable
						.teaser__img-wrapper
							img.teaser__img(src="assets/images/teaser-alt-02.jpg", alt="", width="239", height="297")
						h3.teaser__title
							a(href="product-card.html") Масло &laquo;Каролина&raquo;
						a.js-double-hover.uk-position-cover(href="product-card.html")

				.col-4
					.teaser.teaser--alt.js-double-hover-wrap.uk-invisible.teaser--hoverable
						.teaser__img-wrapper
							img.teaser__img(src="assets/images/teaser-alt-03.jpg", alt="", width="239", height="297")

						h3.teaser__title
							a(href="product-card.html") Масло &laquo;Подворье&raquo;
						a.js-double-hover.uk-position-cover(href="product-card.html")

	| <a class="icon-btn icon-btn--up" title="Наверх" role="button" data-uk-smooth-scroll href="#header"><span class="sr-only">Наверх</span></a>

block footer
	include /blocks/page/page__footer--extra
