extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Растительное масло | Благо';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClass = ''

block header
	include /blocks/page/page__header--product-card

block content
	.container-fluid
		.uk-switcher#pcard_switcher
			article.product-card.product-card--one.uk-active
				.product-card__content
					h2.h1.h1--alt.product-card__title Масло подсолнечно-оливковое
					.b-text.b-text--air.product-card__text
						p «Благо» — это натуральное растительное масловысокого качества с многолетней историей,сочетающей в себе опыт отечественного масложирового производства и возможности современных технологий. Благодаря современному оборудованию и передовым технологиям производства и рафинации масла, «Благо» сохраняет в себе витамины и полезные вещества, необходимые организму человека для здоровой жизни. Подсолнечное масло «Благо» одинаково хорошо подойдет и для жарки, и для заправки салатов, и для приготовления выпечки.

					.uk-button-dropdown(data-uk-dropdown="{pos:'right-center', mode: 'hover'}")
						span.pseudolink.product-card__more-link Состав
						.uk-dropdown.uk-dropdown--tooltip
							| Состав: 100% масло подсолнечное рафинированное дезодорированное вымороженное. Высший сорт. <br>ГОСТ 1129-2013

				aside.product-card__side
					.swiper-container.swiper-container--pcard
						.swiper-wrapper
							.swiper-slide
								img.img-fluid(src="assets/images/pcard-01.png", alt="", width="451", height="686")

		.promo.promo--recept.promo--recept--alt.decor.decor--promo.decor--promo--recept(data-uk-observe)
			.promo__note.decor__note
				i.decor__note-t.lazy-decor(data-original='assets/images/decor-note.png')
				i.decor__note-lr.lazy-decor(data-original='assets/images/decor-note-lr.png')
				i.decor__note-b.lazy-decor(data-original='assets/images/decor-note.png')

				include /blocks/swiper/swiper-recept

		section.teaser-container.teaser-container--alt
			h2.h2.h2--alt.teaser-container__title(data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}") Другие бренды
			.row.teaser-row(data-uk-scrollspy="{cls:'uk-animation-slide-bottom uk-invisible', target:'.teaser'}")
				.col-4
					.teaser.teaser--alt.js-double-hover-wrap.uk-invisible.teaser--hoverable
						.teaser__img-wrapper
							img.teaser__img(src="assets/images/teaser-alt-01.jpg", alt="", width="239", height="297")
						h3.teaser__title
							a(href="product-card.html") Масло &laquo;Благо&raquo;
						a.js-double-hover.uk-position-cover(href="product-card.html")
				.col-4
					.teaser.teaser--alt.js-double-hover-wrap.uk-invisible.teaser--hoverable
						.teaser__img-wrapper
							img.teaser__img(src="assets/images/teaser-alt-02.jpg", alt="", width="239", height="297")
						h3.teaser__title
							a(href="product-card.html") Масло &laquo;Каролина&raquo;
						a.js-double-hover.uk-position-cover(href="product-card.html")

				.col-4
					.teaser.teaser--alt.js-double-hover-wrap.uk-invisible.teaser--hoverable
						.teaser__img-wrapper
							img.teaser__img(src="assets/images/teaser-alt-03.jpg", alt="", width="239", height="297")

						h3.teaser__title
							a(href="product-card.html") Масло &laquo;Подворье&raquo;
						a.js-double-hover.uk-position-cover(href="product-card.html")

	| <a class="icon-btn icon-btn--up" title="Наверх" role="button" data-uk-smooth-scroll href="#header"><span class="sr-only">Наверх</span></a>

block footer
	include /blocks/page/page__footer--extra
