.page__footer-wrapper
	.page__footer
		.container-fluid
			footer.page__footer-main
				p.page__footer-copyright
					| Все права на размещенные материалы
					| принадлежат ООО «Благо» 2000–2016

				a.page__footer-site-link(href='', target='_blank')
					| Сайт группы
					| компаний «Благо»

				a.icon-btn.icon-btn--email.page__footer-email(href='')
				img.page__footer-logo(src='assets/images/blago-logo.png', alt='Благо. Природа роста и развития', width='126', height='48')
