header.page__header.decor.decor--page-header#header
	i.decor__tl.lazy-decor(data-original='assets/images/sprites/decor.png')
	i.decor__tr.lazy-decor(data-original='assets/images/sprites/decor.png')
	.container-fluid
		.logo-box(itemscope='', itemtype='http://schema.org/Organization')
			a.logo-box__link(href='/index.html', itemprop='url') Главная
			img.logo(src='assets/images/blago-logo.png', alt='Благо. Природа роста и развития', width='126', height='48', itemprop='logo')

		nav.navigation.page__header-navigation
			ul
				li
					a(href='') О компании
				li
					a(href='') Продукция
				li
					a(href='') Растительное масло
