.page__footer-wrapper
	.page__footer.page__footer--extra
		.container-fluid
			.page__footer-banner
				.row
					.col-6
						figure.uk-overlay.uk-overlay-hover.banner
							img.banner__img.uk-overlay-scale(src="assets/images/banner-01.jpg", alt="", width="560" height="272")
							div.uk-overlay-panel.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.uk-ignore
								.banner__content
									img.banner__logo(src="assets/images/banner-evdakovo-logo.png", alt="", width="311", height="88")
									.banner__go Перейти на сайт
							a.uk-position-cover(href="", target="_blank")

					.col-6
						figure.uk-overlay.uk-overlay-hover.banner
							img.banner__img.uk-overlay-scale(src="assets/images/banner-02.jpg", alt="", width="560" height="272")
							div.uk-overlay-panel.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center.uk-ignore
								.banner__content
									img.banner__logo(src="assets/images/banner-blago-logo.png", alt="", width="203", height="79")
									.banner__go Перейти на сайт
							a.uk-position-cover(href="", target="_blank")

			.swiper-container-wrapper
				.swiper-container.swiper-container--logo
					.swiper-wrapper
						.swiper-slide
							a(href='')
								img(src='assets/images/padvorje-logo.png', alt='', width='200', height='150')

						.swiper-slide
							a(href='')
								img(src='assets/images/blago-logo2.png', alt='', width='200', height='150')

						.swiper-slide
							a(href='')
								img(src='assets/images/karolina-logo.png', alt='', width='200', height='150')

						.swiper-slide
							a(href='')
								img(src='assets/images/gornica-logo.png', alt='', width='200', height='150')

				.swiper-button-prev
				.swiper-button-next

			.hr.page__footer-hr

			footer.page__footer-main
				p.page__footer-copyright
					| Все права на размещенные материалы
					| принадлежат ООО «Благо» 2000–2016

				a.page__footer-site-link(href='', target='_blank')
					| Сайт группы
					| компаний «Благо»

				a.icon-btn.icon-btn--email.page__footer-email(href='')
				img.page__footer-logo(src='assets/images/blago-logo.png', alt='Благо. Природа роста и развития', width='126', height='48')
