.logo-box
	sprite($common_logo_box)
	background-repeat no-repeat

	.logo
		display block
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		margin-top -5px
		z-index 1

	&__link
		display block
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		z-index 2
		text-indent -99999px
		background-color transparent
