.top-image
	position relative
	height 510px
	background-size contain
	background-color #e9d8ad

@media (min-width 1600px)
	.top-image
		height $decor-scale * 540px

.top-image__pin
	position absolute
	left 50%
	top 50%
	transform translate(-50%, -50%)
