.product-card
	padding-top 70px
	position relative
	min-height 620px
	margin-bottom 170px

.product-card__more-link
	font-family 'lifehack_sansbold', 'Trebuchet MS', Arial, sans-serif
	font-size 1.5rem
	text-transform uppercase
	letter-spacing .1ex

.product-card__text
	font-family 'latobold', 'Trebuchet MS', Arial, sans-serif
	line-height 1.875rem
	color $text-base

.product-card__title
	margin-bottom 2.3rem

.product-card__content
	padding-left 430px
	padding-bottom 237px

	.teaser-row--thumbs
		margin-top 2.3rem
		margin-bottom 2.3rem
		margin-left -50px

.product-card__side
	width 380px
	position absolute
	left 0
	top 70px

.product-card-teaser-thumb-container
	height 200px
	margin-top -370px
	margin-left 370px
	margin-bottom 170px

.product-card--one
	min-height 486px

	.product-card__content
		padding-bottom 0
